<!DOCTYPE html>

<html lang="en">
  <head>
    <title>History</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="../styles/common.css">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../styles/history.css" />
    <link rel="icon" type="image/x-icon" href="../images/ZD.jpg" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="../scripts/history.js"></script>
  </head>
  <body>
    <header id="navbar">
      <a href="./index.html"><img src="../images/ZD.jpg" alt="Zeta Delta Logo" id="logo"></a>
      <nav id="links">
        <ul>
          <li><a href="./index.html">Home</a></li>
          <li><a href="./history.html" class="active">History</a></li>
          <li><a href="./current-brothers.html">Current Brothers</a></li>
          <li><a href="./the-zeal.html">The Zeal</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>History</h1>
      <section id="chapter">
        <h2>Zeta Delta Chapter</h2>
        
        <div>
          <div>
          <img src="../images/ZD-history.jpg" alt="" />
        </div>
          <p>
            The Zeta Delta Chapter of Kappa Alpha Psi, Fraternity Inc. was
            chartered on August 1, 1970 on the campus of UNC Charlotte. Being
            the FIRST Greek Lettered Organization on this campus, the brothers
            of the Zeta Delta chapter are committed to hosting programs that
            bring awareness to local, national, and global events while also
            staying connected to the community and university through
            philanthropy and social events.
          </p>
        </div>
      </section>
      <section id="fraternity">
        <h2>The Fraternity</h2>
        <div>
          <p>
            Kappa Alpha Psi was founded on January 5, 1911 at Indiana University
            in Bloomington, Indiana. The 10 founders of Kappa Alpha Psi are Elder
            Watson Diggs, John Milton Lee, Byron Kenneth Armstrong, Guy Levis
            Grant, Ezra Dee Alexander, Henry Tourner Asher, Marcus Peter
            Blakemore, Paul Waymond Caine, Edward Giles Irvin, and George Wesley
            Edmonds.
            <br>
            <br>
            <strong>
            The fundamental purpose of Kappa Alpha Psi is achievement in every
            field of human endeavor.
            </strong>
            <br>
            <br>
            The 5 objectives of Kappa Alpha Psi are;
            <ul>
              <li>To unite college men of culture in a bond of Fraternity</li>
              <li>
                To encourage the honorable achievement in every field of human
                endeavor
              </li>
              <li>
                To promote the spiritual, social, intellectual, and moral welfare of
                its members
              </li>
              <li>To assist the aims and purposes of colleges and universities</li>
              <li>To inspire service in the public's interest</li>
            </ul>
          </p>
          <div>
            <a href="http://kappaalphapsi.org/" target="_blank" class="button" id="button">Learn More</a>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <h2>Check us out on Social Media!</h2>
      <ul id="socials">
        <li>
          <a href="https://www.facebook.com/zdnupes"
            ><i class="fa fa-facebook fa-3x"></i
          ></a>
        </li>
        <li>
          <a href="https://www.instagram.com/zdnupes/"
            ><i class="fa fa-instagram fa-3x"></i
          ></a>
        </li>
        <li>
          <a href="https://twitter.com/zdnupes"
            ><i class="fa fa-twitter fa-3x"></i
          ></a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UC6vmP5PNs934fe6VJqU4UtA"
            ><i class="fa fa-youtube-play fa-3x"></i
          ></a>
        </li>
      </ul>
    </footer>
  </body>
</html>
