<!DOCTYPE html>

<html lang="en">
  <head>
    <title>The Zeal</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../styles/common.css" />
    <link rel="stylesheet" href="../styles/the-zeal.css" />
    <link rel="icon" type="image/x-icon" href="../images/ZD.jpg" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="../scripts/the-zeal.js"></script>
  </head>
  <body>
    <header id="navbar">
      <a href="./index.html"
        ><img src="../images/ZD.jpg" alt="Zeta Delta logo" id="logo"
      /></a>
      <nav id="links">
        <ul>
          <li><a href="./index.html">Home</a></li>
          <li><a href="./history.html">History</a></li>
          <li><a href="./current-brothers.html">Current Brothers</a></li>
          <li><a href="./the-zeal.html" class="active">The Zeal</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>The Zeal</h1>
      <p class="desc">The Zeta Delta chapter monthly newsletter</p>
      <h2>Achievement</h2>
      <section>
        <div>
          <a href="../images/kendall-allen.png" class="image-link">
            <img
              src="../images/kendall-allen.png"
              alt="kendall allen holding award"
            />
          </a>
        </div>
        <div>
          <p>
            We would like to celebrate ZD Alumnus, Brother Kendall Allen! Last
            night Brother Allen, a Fall 2010 Initiate, was recognized as
            Charlotte's 30 under 30! We salute you, good brother!
          </p>
          <p>June 8, 2018</p>
        </div>
      </section>
      <section>
        <div>
          <a href="../images/myles-gibson.png" class="image-link">
            <img
              src="../images/myles-gibson.png"
              alt="Myles Gibson graduation photo"
            />
          </a>
        </div>
        <div>
          <p>
            Special Congratulations to Brother Myles Gibson! Brother Gibson, a
            Spring '14 Initiate, graduated from UNC Charlotte in Spring of 2017
            with a Bachelor's of Science in Biology. Myles has now been accepted
            into the Doctor of Pharmacy Program at Campbell University's College
            of Pharmacy and Health Sciences as well as the Medical University of
            South Carolina's School of Pharmacy for this upcoming Fall.
            Kongratulations Myles!
          </p>
          <p>May 16, 2018</p>
        </div>
      </section>
      <section>
        <div class="graduates">
          <h2>Big KonGRADulations to all of ZD's Spring 2018 Graduates!</h2>
          <h3>
            (<b>Top Left</b>: Reggie Cobbins Jr.; <b>Top Right</b>: Joel Bello;
            <b>Middle</b>: Miles Brydie; <b>Bottom Left</b>: Jon Adams;
            <b>Bottom Right</b>: Marcus Bullock)
          </h3>
          <div class="collage">
            <a href="../images/reggie-cobbins.png" class="image-link">
              <img
                src="../images/reggie-cobbins.png"
                alt="Reggie Cobins in front of UNC Charlotte sign"
                id="cobbins"
              />
            </a>
            <a href="../images/joel-bello.png" class="image-link">
              <img
                src="../images/joel-bello.png"
                alt="Joel Bello in front of green backdrop"
                id="bello"
              />
            </a>
            <a href="../images/miles-brydie.png" class="image-link">
              <img
                src="../images/miles-brydie.png"
                alt="Miles Brydie posing in front of stairs"
                id="brydie"
              />
            </a>
            <a href="../images/jon-adams.png" class="image-link">
              <img
                src="../images/jon-adams.png"
                alt="Jon Adams posing on engineering building stairs"
                id="adams"
              />
            </a>
            <a href="../images/marcus-bullock.png" class="image-link">
              <img
                src="../images/marcus-bullock.png"
                alt="Marcus Bullock posing in front of UNC Charlotte sign"
                id="bullock"
              />
            </a>
          </div>
        </div>
      </section>
      <section>
        <div>
          <a href="../images/holloway-scholarship.png" class="image-link">
            <img
              src="../images/holloway-scholarship.png"
              alt="Jaren and David holding scholarship recognition"
            />
          </a>
        </div>
        <div>
          <p>
            Today, ZD received the prestigious Undergraduate Chapter of the Year
            Award for the Middle Eastern Province of Kappa Alpha Psi Fraternity,
            Inc. In addition, we would like to Congratulate our Brothers Jaren
            Williams and David Quick Jr. for being the recipients of the H.H.
            Holloway Scholarship Award.
          </p>
          <p>April 6, 2018</p>
          <a href="../images/chapter-of-year.png" class="image-link">
            <img
              src="../images/chapter-of-year.png"
              alt="Brothers gathered around award"
            />
          </a>
        </div>
      </section>
    </main>
    <footer>
      <h2>Check us out on Social Media!</h2>
      <ul id="socials">
        <li>
          <a href="https://www.facebook.com/zdnupes"
            ><i class="fa fa-facebook fa-3x"></i
          ></a>
        </li>
        <li>
          <a href="https://www.instagram.com/zdnupes/"
            ><i class="fa fa-instagram fa-3x"></i
          ></a>
        </li>
        <li>
          <a href="https://twitter.com/zdnupes"
            ><i class="fa fa-twitter fa-3x"></i
          ></a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UC6vmP5PNs934fe6VJqU4UtA"
            ><i class="fa fa-youtube-play fa-3x"></i
          ></a>
        </li>
      </ul>
    </footer>
  </body>
</html>
