* {
  text-align: center;
}

main {
  width: 90vw;
  margin: 0 auto;
}

.grid-item {
  border: thick ridge var(--accent-dark-color);
  font-weight: bold;
  font-size: large;
  min-width: fit-content;
}

.headshot {
  margin: 0 auto;
  border-radius: 5rem;
}

.slick-prev::before,
.slick-next::before {
  color: black; /* Change the color to your desired color */
}

.slick-slide {
  padding: 0;
  margin: 0 1rem;
  border-radius: 5rem;
  font-style: oblique;
}

.role {
  font-style: oblique;
  font-variant: small-caps;
  font-size: initial;
  display: inline;
}
