* {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 40% 40%;
  width: 85%;
  justify-content: center;
  gap: 2% 10%;
  min-width: fit-content;
  margin: auto;
}

.grid-item {
  border: thick ridge var(--accent-dark-color);
  font-weight: bold;
  font-size: large;
}

.headshot {
  width: 60%;
}

.role {
  font-style: oblique;
  font-variant: small-caps;
  font-size: initial;
}

section {
  margin: 0 auto;
  overflow: scroll;
  width: 80%;
  height: 50vh;
}