main {
  text-align: center;
  width: 80%;
  margin: auto;
}

section {
  padding: 1rem;
  margin: 2rem;
  border-radius: 5rem;
  font-style: oblique;
  transition: all 0.5s;
}

section h2 {
  font-variant: small-caps;
  transition: all 0.5s;
}

section img {
  width: 60%;
}

#chapter {
  background-color: var(--accent-color);
  border-radius: 5rem;
}

#fraternity {
  background-color: var(--accent-dark-color);
  color: var(--accent-color);
}

#fraternity ul {
  list-style: upper-roman;
  list-style-position: inside;
  text-align: start;
}

.ui-accordion-header {
  background-color: var(--accent-dark-color);
  color: var(--accent-color);
  padding: 15px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.ui-accordion-content {
  background-color: var(--accent-color);
}

.ui-accordion-header-active {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.ui-accordion-content-active {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

a.button {
  padding: 10px 20px;
  margin: 1rem;
  border: 3px solid black;
  border-radius: 10px;
  color: var(--accent-color);
  background-color: var(--accent-dark-color);
  text-decoration: none;
  box-shadow: 5px 5px 8px;
}

a.button:hover {
  color: black;
  background-color: var(--accent-color);
  font-weight: bold;
}
