body::before {
  content: "";
  position: fixed;
  top: 6rem;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  z-index: -1;
  background: url("../images/ZDHomecoming.jpg");
  background-size: cover;
  background-position: center;
}

a.button {
  padding: 10px 20px;
  border: 3px solid black;
  border-radius: 10px;
  color: black;
  background-color: var(--accent-dark-color);
  text-decoration: none;
  box-shadow: 5px 5px 8px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 10rem);
  transition: all 0.75s;
}

.shadow {
  text-shadow: 3px 4px 5px var(--accent-dark-color), -3px 5px 4px black;
  font-variant: small-caps;
}

#button:hover {
  text-shadow: 8px 8px 6px;
  transform: scale(1.1);
  font-weight: bold;
}

.title {
  color: var(--accent-color);
}
